#div1{
    width: 300px;
    height: 300px;
    border: 2px;
    background-color: red;
}
#div2{
    width: 300px;
    height: 300px;
    border: 2px;
    background-color: blue;
}
#div3{
    width: 300px;
    height: 300px;
    border: 2px;
    background-color: purple;
}
#div4{
    width: 300px;
    height: 300px;
    border: 2px;
    background-color: yellow;
}
#div5{
    width: 300px;
    height: 300px;
    border: 2px;
    background-color: green;
}